<%= link_to '<<Back' , boards_path%>
<h1>Reminders</h1>
<ul class="list-group">
    <li class="list-group-item active" aria-current="true">
        <p><%= "Board_name" %> --> <%= "List_name" %> --> <%= "Task"%> 
            <div class="float-right"> <%= "Status"%></div>
        </p>
    </li>
    
    <br>

<% @reminders.each do|reminder| %>
    <% if reminder.user_id == current_user.id %>
        <li class="list-group-item active" aria-current="true">
            <p><%= reminder.board_name %> --> <%= reminder.list_name%> --> <%= reminder.task%> 
                <div class="float-right"> Status: <%= reminder.status%></div>
            </p>
        </li>
        <br>
    <% end %>
<% end %>
</ul>