<div class='text-3xl font-bold mt-2 mb-2'>
  Welcome <%= @name %>
</div>
<div class="grid grid-cols-3 gap-4 text-white">
    <% @boards.each do |board| %>
        <div class = 'bg-blue-600 rounded h-20' >
          <div class = 'text-center font-bold mt-2'>
            <%= link_to board.name , lists_path(board_id: board.id) %><br>
          </div>
          <% unless current_user.has_role?([:viewer ,:moderator] , board) %>
          <div class = 'flex justify-around'>
            <%= link_to "Delete Board" ,board_path(board),  data: { confirm: 'Are you sure you want to delete this alert?' } ,method: :delete %> 
            <%= link_to "Invite To Board" ,new_user_invitation_path(:board_id => board.id), method: :get %> 
          </div>
          <%end%>
        </div>
    <%end%>
    
    <div class= "grid">
      <a href= <%= new_board_path %> class ='flex bg-gray-100 items-center content-center'>
        <svg xmlns="http://www.w3.org/2000/svg" class="mx-40 h-10 w-10 text-blue-500 text-center content-center" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
        </svg>
      </a>
    </div>

</div>