<% if @todos.length != 0 %>
    <%= link_to '<<Back' , lists_path(:board_id => @todos.first.list.board_id)%>
<% end %>

<h1> <%= @todos.length>0 ? @todos[0].list.name : "Empty ToDo " %> </h1>

<% @todos.each do|todo| %>
    <hr>
    
    <h5>Title:</h5>
    <td>
        <%= link_to(todo.title ,todo_path(todo.id))%>    
    </td>
    
    <h2>Due Date</h2>
        <%= todo.due_date.strftime("%d-%m-%Y") %>
    <br>

    <h5>Description:</h5>
    <br>
    <%= todo.description %>      
    <h5>Status :  <%= todo.status %></h5>

<%end%>