<% if @todos.length != 0 %>
    <%= link_to '<<Back' , lists_path(:board_id => @todos.first.list.board_id)%>
<% end %>
<div class = 'bg-red-300 font-bold'>
    <%= @todos.length>0 ? @todos[0].list.name : "Empty ToDo " %> 
</div>
<div class = 'grid grid-cols-2 gap-4'>
    <% @todos.each do|todo| %>
    <div class = 'bg-gray-300 px-2'>
        <div class = 'flex justify-around'>
            <div class = 'flex py-2'>
                <div class = 'text-md font-bold'>
                    Title:
                </div>
            
                <div class ="px-2 text-blue-700 rounded border-4 border-indigo-500/100" >
                    <%= link_to todo.title ,todo_path(todo.id) %>    
                </div>
            </div>

            <div class = "text-red-900">
                Due Date:
                <%= todo.due_date.strftime("%d-%m-%Y") %>
            </div>
            
            <div class= "text-blue-900">
                Status :  <%= todo.status %>
            </div>

        </div>

        <div class = "text-md font-bold">
            Description:
        </div>
        
        <p>
            <%= todo.description %>
        </p>
    </div>
    <%end%>
</div>