<%= link_to '<<Back' , todos_path(:list_id => @todo.list_id)%>

<h1>ToDo-Information</h1>
<br>
<h2>Title</h2>
<%= @todo.title %>
<br>

<h2>Due Date</h2>
<%= @todo.due_date.strftime("%d-%m-%Y") %>
<br>

<h2>Description</h2>
<%= @todo.description %>

<h5>Status :  <%= @todo.status %></h5>

<br>
<% unless current_user.has_role?(:viewer ,Board.find(@todo.list.board.id))%>
    <%= link_to("Edit/Update" ,edit_todo_path(@todo.id),  :class => 'action edit bg-blue-500 hover:bg-blue-700 text-white font-bold rounded' ) %>
    <%= button_to "Delete" ,todo_path(@todo.id), method: :delete , class: "bg-blue-500 hover:bg-blue-700 text-white font-bold rounded p-2" %>
<%end%>